{{define "partials/workers_table.html"}}

{{if .Workers}}
<div class="table-container">
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Común</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>

        <tbody>
            {{range .Workers}}
            <tr>
                <td>{{.ID}}</td>
                <td>{{.Name}}</td>

                <td>
                    {{if .Revoked}}
                    <span class="status disabled">Deshabilitado</span>
                    {{else}}
                    <span class="status enabled">Activo</span>
                    {{end}}
                </td>

                <td class="actions">
                    <button hx-post="/elections/{{$.ElectionID}}/workers"
                        hx-vals='{"action":"{{if .Revoked}}enable{{else}}disable{{end}}","worker_id":"{{.ID}}"}'
                        hx-target="#workers-container"
                        class="btn {{if .Revoked}}btn-primary{{else}}btn-secondary{{end}}">
                        {{if .Revoked}}Activar{{else}}Desactivar{{end}}
                    </button>

                    <button hx-post="/elections/{{$.ElectionID}}/workers"
                        hx-vals='{"action":"delete","worker_id":"{{.ID}}"}' hx-target="#workers-container"
                        class="btn btn-primary">
                        Eliminar
                    </button>
                </td>
            </tr>
            {{end}}
        </tbody>
    </table>
    {{else}}
    <p style="color:#888;">No hay trabajadores aún.</p>
    {{end}}
</div>
</div>
{{end}}